* {
  margin: 0;
}

.mainheader {
  background-color: rgb(117, 207, 212);
  margin: 0;
  min-height: 100px;
}

.title {
  font-size: 5rem;
  color: white;
}

.shoppingcart {
  background-color: rgb(169, 141, 141);
  height: 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between; 
}

.subwrapper {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  margin-right: 10px;
}